.about-me-container {
	padding: 65px 20px;
}

.about-me-header-container {
	text-align: center;
	padding-bottom: 20px;
}

.about-me-header-container h1 {
	padding-bottom: 20px;
	padding-top: 40px;
	margin-top: 0;
}

.about-me-header-container hr {
	color: rgba(174, 172, 173, 1);
	width: 100px;
	border: 3px solid;
	border-radius: 2px;
}

.about-me-header-container p {
	padding-top: 20px;
}

.word-link {
	color: rgba(255, 128, 0, 1);
	cursor: pointer;
}

.about-me-information-container {
	padding: 10px;
}

.about-me-information-container a {
	border-radius: 5px;
	padding: 10px 40px;
	font-weight: bold;
	font-size: 20px;
	color: rgb(0, 0, 0);
	background-color: rgba(255, 128, 0, 1);
	text-decoration: none;
}

.about-me-skills-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 40px;
}

.about-me-skills-container h3 {
	margin-right: 100%;
}

.about-me-skills-container div {
	background-color: rgba(213, 213, 213, 1);
	color: rgba(107, 107, 107, 1);
	padding: 10px 20px;
	margin: 10px 10px 10px 0;
	border-radius: 20px;
}
@media screen and (min-width: 350px) {
	.about-me-information-container {
		padding: 30px;
	}
}

@media screen and (min-width: 700px) {
	.about-me-container {
		width: 80%;
		margin: auto;
	}

	.about-me-flex-container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: auto;
	}

	.about-me-skills-container {
		padding-top: 0;
		padding-left: 30px;
	}
}
